* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #011808;
  /* height: 2000px; */
}

:root {
  --bg-color: #00270c;
  --bg-color-1: #007524;
  --bg-color-variant:#2c6c2c;
  --color-primary: #6bff4d;
  --color-primary-variant: rgba(107, 255, 77, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease ease;

  --container-width-lg: 100%;
  --container-width-md: 100%
  --container-width-sm: 100%
}

::-webkit-scrollbar {
  display: none;
}


h1,
h2,
h3,
h4,
h5
{
  font-weight: 600;
  font-family: sans-serif;
}

h1{
  font-size: 2.5rem;
}

p,
article{
  color: var(--color-white);
  font-family: sans-serif;
}



.container {
  width: var(--container-width-lg);
  margin: 0rem auto;
}




/* ---------------------------------------------------------------------------- */
/* -------------- MEDIA QUERIES (MEDIUM DEVICES) -------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  .container {
    width: var(--container-width-md);
  }
 
}

/* ---------------------------------------------------------------------------- */
/* -------------- MEDIA QUERIES (SMALL DEVICES) -------------- */
/* ---------------------------------------------------------------------------- */

@media screen and (max-width: 700px) {
  .container {
    width: var(--container-width-sm);
  }

}