body {
  background-image: url(../public/assets/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-color: #00270c;
  --bg-color-1: #007524;
  /* 
  color: #8ee80e;
  background-color: #021102;
  background-color: #000000;
  background-color: #23dc71; */

  /* color: #32ea22;
  color: #70ad22;
  color: #95de98;
  color: #98de87;
  color: #afeeaa;
  color: #c9f2c6;
  color: #e0f0dd;
  color: #ffff;
    color: ;

  --font-size: 0.5rem;
  --font-size-1: 1rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem; */
}
