* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #011808;
  /* height: 2000px; */
}

:root {
  --bg-color: #00270c;
  --bg-color-1: #007524;

  /* 
  color: #8ee80e;
  background-color: #021102;
  background-color: #000000;
  background-color: #23dc71; */

  /* color: #32ea22;
  color: #70ad22;
  color: #95de98;
  color: #98de87;
  color: #afeeaa;
  color: #c9f2c6;
  color: #e0f0dd;
  color: #ffff;
    color: ;

  --font-size: 0.5rem;
  --font-size-1: 1rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem; */
}

/* ::-webkit-scrollbar {
  display: none;
} */

.container {
  margin-top: 3.5rem;
}
